#heading{
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
    font-family: cursive;
    margin-top: 15px;
}
.div{
    height: 25%;
    width: 48%;
    background-color: bisque;
    float: left;
    padding: 10px;
    margin: 50px 2px;
}